.container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container img {
  width: 500px;
}

.homeBTN {
  background: #f0dba5;
  padding: 0.8rem;
  margin: 1rem 0;
  display: inline-block;
  color: black;
}
